<%
var joinStr = theme.title_join_string
var title = config.title
if (page.title) {
  title = [page.title, title].join(joinStr)
}
%>

<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
  <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <% } %>
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="og:image" content="https://blog.hexrabbit.io/img/banner.png">
  <meta name="og:site_name" content="<%= config.title %>">
  <meta name="og:url" content="<%= page.permalink %>">
  <meta property="og:image:width" content="1370">
  <meta property="og:image:height" content="717">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@h3xrabbit" />
  <meta name="twitter:image" content="https://blog.hexrabbit.io/img/banner.png">
  <meta name="twitter:url" content="<%= page.permalink %>">
  <meta name="twitter:title" content="<%= title %>">
  <% if (page.layout == "post") { %>
    <meta name="og:type" content="article">
    <meta name="og:title" content="<%= title %>">
    <meta name="og:description" content="<%= strip_html(page.content).substr(0, 50) %>">
    <meta name="twitter:decription" content="<%= strip_html(page.content).substr(0, 50) %>">
  <% } else if (page.layout == undefined) { %>
    <meta name="og:type" content="website">
    <meta name="og:description" content="Digging into the rabbit hole">
    <meta name="twitter:decription" content="Digging into the rabbit hole">
  <% } %>
  <meta name="theme-color" content="<%- theme.color.navbar_bg_color %>">
  <meta name="description" content="<%= config.description %>">
  <title><%= title %></title>

  <%- partial('_partial/css.ejs') %>
  <%- js_ex(theme.static_prefix.internal_js, 'utils.js') %>
</head>
